svg {
  display: block; }

v\:* {
  background: transparent; }

.art.section:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  _display: block;
  zoom: 1; }
.art.section, .art.button {
  font-family: Helvetica;
  font-size: 12px; }
.art.button {
  text-shadow: 0 1px 0 #e5e5ee;
  filter: dropshadow(color=#e5e5ee,offX=0,offY=1px); }
.art.scrollbar.vertical, .art.scrollbar.horizontal {
  position: absolute; }
.art.scrollbar.vertical {
  top: 0;
  right: 0; }
.art.scrollbar.horizontal {
  bottom: 0;
  left: 0; }
.art.input input, .art.textarea textarea {
  border: 0;
  line-height: 14px;
  font-size: 13px;
  padding-top: 4px;
  padding-left: 4px;
  font-family: Helvetica;
  background: none;
  display: block;
  outline: none; }
.art.input.search input {
  padding-left: 0;
  float: left; }
.art.textarea textarea {
  padding-top: 2px;
  margin: 0; }
.art.button {
  line-height: 1.85em;
  vertical-align: middle; }
.art.window {
  line-height: 16px; }
  .art.window .header * {
    cursor: default; }
  .art.window .header .buttons {
    position: relative;
    z-index: 5; }
  .art.window .header .toggler {
    z-index: 5; }
  .art.window .title {
    z-index: 4;
    text-align: center; }
    .art.window .title .container {
      font-size: 13px; }
  .art.window .footer .handle {
    z-index: 10; }
  .art.window.fancy .title .container {
    text-shadow: 0 1px 0 #e5e5ee;
    filter: dropshadow(color=#e5e5ee,offX=0,offY=1px);
    color: #555; }
  .art.window.dragged, .art.window.dragged * {
    cursor: move; }
  .art.window.hud .title .container {
    font-size: 1em;
    text-shadow: 0 -1px 0 #374683;
    filter: dropshadow(color=#374683,offX=0,offY=-1px);
    color: #ddd; }
  .art.window.hud .content .container {
    padding: 1em;
    font-size: 1.2em;
    color: #ccc;
    text-align: center; }
  .art.window svg ~ *, .art.window svg .container {
    position: relative; }
